<!DOCTYPE html>
<html>
<head>
<style>
div{
  margin: 40px;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
</head>
<body>
    <div>
        <div>
            <h2>Most active today</h2>
            <button type="button" onclick="location.href='/admin/detector'" >Admin</button>
            <button type="button" onclick="location.href='/csv_data?clear_data=true'" >Clear Data</button>
            <button type="button" onclick="location.href='/csv_data?remove_all_action=true'" >Clean up actions</button>
            <button type="button" onclick="location.href='/csv_data?force_clean_up=true'" >Clean up and get data</button>
            <button type="button" onclick="location.href='/csv_data?force_fetch_data=true'" >Fetch up</button>
        </div>
        </br>
        <table>
              <tr>
                <th>Name</th>
                <th>Count</th>
              </tr>
            {% for item in most_active_items %}
              <tr>
                <td><a href="{{ item.link }}" target="_blank"> {{item.name}} </a></td>
                <td>{{item.count}}</td>
             </tr>
            {% endfor %}
        </table>


        <h2>HTML Table with the list of items</h2>

        <table>
              <tr>
                <th>Name</th>
                <th>Symbol</th>
                <th>Time</th>
                <th>Volume</th>
                <th>Max volume</th>
                <th>Price open</th>
                <th>Price close</th>
                <th>Price percenage</th>
              </tr>
            {% for bear in bears_list %}
              <tr>
                <td><a href="/admin/detector/actionsettings/{{ bear.action_settings }}/change/" target="_blank"> {{bear.name}} </a></td>
                <td><a href="{{ bear.link }}" target="_blank"> {{bear.symbol}} </a></td>
                <td>{{bear.time}}</td>
                <td>{{bear.volume}}</td>
                <td>{{bear.max_volume}}</td>
                <td>{{bear.price_open}}</td>
                <td>{{bear.price_close}}</td>
                <td>{{bear.price_percenage}}</td>
                <td><a href="csv_data?file_name={{ bear.csv_file }}"> {{bear.csv_file}} </a></td>
             </tr>
            {% endfor %}
        </table>
    </div>
</body>
<script language="javascript" type="text/javascript">
setTimeout(reloadPage, 5000);

function reloadPage () {
    console.log('test')
    window.location.reload();
}
</script>
</html>

