<!DOCTYPE html>
<html>
<head>
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
</head>
<body>

<h2>Most active today</h2>

<table>
      <tr>
        <th>Name</th>
        <th>Count</th>
      </tr>
    {% for item in most_active_items %}
      <tr>
        <td><a href="{{ item.link }}" target="_blank"> {{item.name}} </a></td>
        <td>{{item.count}}</td>
     </tr>
    {% endfor %}
</table>


<h2>HTML Table with the list of items</h2>

<table>
      <tr>
        <th>Name</th>
        <th>Symbol</th>
        <th>Time</th>
        <th>Volume</th>
        <th>Max volume</th>
        <th>Price open</th>
        <th>Price close</th>
        <th>Price percenage</th>
      </tr>
    {% for bear in bears_list %}
      <tr>
        <td>{{bear.name}}</td>
        <td>{{bear.symbol}}</td>
        <td>{{bear.time}}</td>
        <td>{{bear.volume}}</td>
        <td>{{bear.max_volume}}</td>
        <td>{{bear.price_open}}</td>
        <td>{{bear.price_close}}</td>
        <td>{{bear.price_percenage}}</td>
     </tr>
    {% endfor %}
</table>

</body>
<script language="javascript" type="text/javascript">
setTimeout(reloadPage, 5000);

function reloadPage () {
    console.log('test')
    window.location.reload();
}
</script>
</html>

